USE [master]
GO
/****** Object:  Database [QLBANHANG]    Script Date: 2017-09-25 1:34:15 PM ******/
CREATE DATABASE [QLBANHANG]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLBANHANG', FILENAME = N'd:\SQL Server Management Studio\MSSQL11.MTAZERO\MSSQL\DATA\QLBANHANG.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLBANHANG_log', FILENAME = N'd:\SQL Server Management Studio\MSSQL11.MTAZERO\MSSQL\DATA\QLBANHANG_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLBANHANG].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLBANHANG]
GO
/****** Object:  StoredProcedure [dbo].[DOIMATKHAU]    Script Date: 2017-09-25 1:34:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








--- PROCEDURE --
	CREATE PROC [dbo].[DOIMATKHAU](@ID INT, @MATKHAUMOI NVARCHAR(100))
	AS
	BEGIN
		UPDATE NHANVIEN 
		SET MATKHAU=@MATKHAUMOI
		WHERE ID=@ID
	END

GO
/****** Object:  UserDefinedFunction [dbo].[TONTAITAIKHOAN]    Script Date: 2017-09-25 1:34:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--- FUNCTION ---
	CREATE FUNCTION [dbo].[TONTAITAIKHOAN](@TENDANGNHAP NVARCHAR(100), @MATKHAU NVARCHAR(100))
	RETURNS INT 
	AS
	BEGIN
		DECLARE @ANS INT

		SELECT @ANS=COUNT(*)
		FROM NHANVIEN TK 
		WHERE TK.TAIKHOAN=@TENDANGNHAP AND TK.MATKHAU=@MATKHAU
		
		RETURN @ANS
	END

GO
/****** Object:  Table [dbo].[CHITIETNHAP]    Script Date: 2017-09-25 1:34:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETNHAP](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PHIEUNHAPID] [int] NULL,
	[MATHANGID] [int] NULL,
	[SOLUONG] [int] NULL,
	[DONGIA] [int] NULL,
	[THANHTIEN] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHITIETXUAT]    Script Date: 2017-09-25 1:34:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETXUAT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[HOADONBANID] [int] NULL,
	[MATHANGID] [int] NULL,
	[SOLUONG] [int] NULL,
	[GIABAN] [int] NULL,
	[THANHTIEN] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOADONBAN]    Script Date: 2017-09-25 1:34:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADONBAN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NHANVIENID] [int] NULL,
	[NGAY] [datetime] NULL,
	[TONGTIEN] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHO]    Script Date: 2017-09-25 1:34:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MATHANGID] [int] NULL,
	[SOLUONG] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MATHANG]    Script Date: 2017-09-25 1:34:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MATHANG](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MAMH] [nvarchar](max) NULL,
	[TEN] [nvarchar](max) NULL,
	[DONVITINH] [nvarchar](max) NULL,
	[GHICHU] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 2017-09-25 1:34:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MANV] [nvarchar](max) NULL,
	[TEN] [nvarchar](max) NULL,
	[NGAYSINH] [datetime] NULL,
	[GIOITINH] [int] NULL,
	[QUEQUAN] [nvarchar](max) NULL,
	[SDT] [nvarchar](max) NULL,
	[TAIKHOAN] [nvarchar](max) NULL,
	[MATKHAU] [nvarchar](max) NULL,
	[QUYEN] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHIEUNHAP]    Script Date: 2017-09-25 1:34:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUNHAP](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NHANVIENID] [int] NULL,
	[NGAY] [datetime] NULL,
	[DIADIEM] [nvarchar](max) NULL,
	[TONGTIEN] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  View [dbo].[VIEW_KHO]    Script Date: 2017-09-25 1:34:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--- VIEW ---
	CREATE VIEW [dbo].[VIEW_KHO]
	AS
	SELECT mh.TEN as TEN, mh.DONVITINH dvt, kh.SoLuong as SoLuong 
	FROM KHO kh, MATHANG mh
	WHERE kh.MATHANGID = mh.ID


GO
SET IDENTITY_INSERT [dbo].[CHITIETNHAP] ON 

INSERT [dbo].[CHITIETNHAP] ([ID], [PHIEUNHAPID], [MATHANGID], [SOLUONG], [DONGIA], [THANHTIEN]) VALUES (1, 1, 2, 5, 12000000, 60000000)
SET IDENTITY_INSERT [dbo].[CHITIETNHAP] OFF
SET IDENTITY_INSERT [dbo].[CHITIETXUAT] ON 

INSERT [dbo].[CHITIETXUAT] ([ID], [HOADONBANID], [MATHANGID], [SOLUONG], [GIABAN], [THANHTIEN]) VALUES (1, 1, 2, 3, 15000000, 45000000)
SET IDENTITY_INSERT [dbo].[CHITIETXUAT] OFF
SET IDENTITY_INSERT [dbo].[HOADONBAN] ON 

INSERT [dbo].[HOADONBAN] ([ID], [NHANVIENID], [NGAY], [TONGTIEN]) VALUES (1, 1, CAST(0x0000A82A008BB095 AS DateTime), 45000000)
SET IDENTITY_INSERT [dbo].[HOADONBAN] OFF
SET IDENTITY_INSERT [dbo].[KHO] ON 

INSERT [dbo].[KHO] ([ID], [MATHANGID], [SOLUONG]) VALUES (1, 1, 0)
INSERT [dbo].[KHO] ([ID], [MATHANGID], [SOLUONG]) VALUES (2, 2, 2)
SET IDENTITY_INSERT [dbo].[KHO] OFF
SET IDENTITY_INSERT [dbo].[MATHANG] ON 

INSERT [dbo].[MATHANG] ([ID], [MAMH], [TEN], [DONVITINH], [GHICHU]) VALUES (1, N'MH01', N'Laptop', N'Chiếc', N'')
INSERT [dbo].[MATHANG] ([ID], [MAMH], [TEN], [DONVITINH], [GHICHU]) VALUES (2, N'MH02', N'Samsung Galaxy S8', N'Chiếc', N'')
SET IDENTITY_INSERT [dbo].[MATHANG] OFF
SET IDENTITY_INSERT [dbo].[NHANVIEN] ON 

INSERT [dbo].[NHANVIEN] ([ID], [MANV], [TEN], [NGAYSINH], [GIOITINH], [QUEQUAN], [SDT], [TAIKHOAN], [MATKHAU], [QUYEN]) VALUES (1, N'NV01', N'Nguyễn Văn Hải', CAST(0x000085A500000000 AS DateTime), 1, N'Huyện Bố Trạch Tỉnh Quảng Bình', N'0912345678', N'admin', N'1', 1)
INSERT [dbo].[NHANVIEN] ([ID], [MANV], [TEN], [NGAYSINH], [GIOITINH], [QUEQUAN], [SDT], [TAIKHOAN], [MATKHAU], [QUYEN]) VALUES (2, N'nv2', N'Bùi Xuân Thủy', CAST(0x0000A82600834ADA AS DateTime), 1, N'a', N'', N'nv2', N'1', 1)
SET IDENTITY_INSERT [dbo].[NHANVIEN] OFF
SET IDENTITY_INSERT [dbo].[PHIEUNHAP] ON 

INSERT [dbo].[PHIEUNHAP] ([ID], [NHANVIENID], [NGAY], [DIADIEM], [TONGTIEN]) VALUES (1, 1, CAST(0x0000A82A008BB8D9 AS DateTime), N'Hà Nội', 60000000)
SET IDENTITY_INSERT [dbo].[PHIEUNHAP] OFF
ALTER TABLE [dbo].[CHITIETNHAP]  WITH CHECK ADD FOREIGN KEY([MATHANGID])
REFERENCES [dbo].[MATHANG] ([ID])
GO
ALTER TABLE [dbo].[CHITIETNHAP]  WITH CHECK ADD FOREIGN KEY([PHIEUNHAPID])
REFERENCES [dbo].[PHIEUNHAP] ([ID])
GO
ALTER TABLE [dbo].[CHITIETXUAT]  WITH CHECK ADD FOREIGN KEY([HOADONBANID])
REFERENCES [dbo].[HOADONBAN] ([ID])
GO
ALTER TABLE [dbo].[CHITIETXUAT]  WITH CHECK ADD FOREIGN KEY([MATHANGID])
REFERENCES [dbo].[MATHANG] ([ID])
GO
ALTER TABLE [dbo].[HOADONBAN]  WITH CHECK ADD FOREIGN KEY([NHANVIENID])
REFERENCES [dbo].[NHANVIEN] ([ID])
GO
ALTER TABLE [dbo].[KHO]  WITH CHECK ADD FOREIGN KEY([MATHANGID])
REFERENCES [dbo].[MATHANG] ([ID])
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD FOREIGN KEY([NHANVIENID])
REFERENCES [dbo].[NHANVIEN] ([ID])
GO
USE [master]
GO
